/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

	.reveal-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: #000;
		opacity: .3;
		z-index: 100;
		display: none;
		top: 0;
		left: 0;
		}

	.reveal-modal {
		visibility: hidden;
		background: url('../img/cloud.png') no-repeat top left;
		font-family: 'callMe';
		height: 315px;
		left: 50%;
		margin: -155px 0 0 -170px;
		position: absolute;
		top: 50%;
		width: 345px;
		z-index: 999;
		padding-top: 12px;
		}

	.reveal-modal h1 {
		font-weight: normal;
		margin: 0;
		position: relative;
		text-align: center;
		top: 10px;
	}

	.reveal-modal p {
		font-size: 22px;
		margin: 0px;
		padding: 0 10px;
		text-align: center;
	}

	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 20px;
		right: 40px;
		color: #333;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		}
	/*

	NOTES

	Close button entity is &#215;

	Example markup

	<div class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>

	*/
