/* Feel free to use @import. r.js will merge them, when building */
@font-face
{
	font-family: callMe;
	src: url('../fonts/call_me.ttf');
}

html {
	background: url('../img/background.png') no-repeat top left;
	color: #333;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body { 
  margin: 0px;
	overflow: hidden;
	padding: 20px 0;	
}

.wrapper {
	text-align: center;
}

#container {
	background: url('../img/dot.png') repeat top left;
	padding: 20px;
	position: relative;
	width: 790px;
}

#container,
.player {
	display: inline-block;
	vertical-align: top;
}

.player {
	font-family: 'callMe';
	text-align: center;
	text-shadow: -4px -4px #fff, 4px 4px #fff;
	width: 200px;
}

.player .avatar {
	background: url('../img/players.png') no-repeat top left;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}

.player.sheep .avatar {
	background-position: 0 0;
}

.player.wolf .avatar {
	background-position: -150px 0;
}

.player h5 {
	margin: 0px;
	font-size: 36px;
	font-weight: normal;
}

.player p {
	margin: 20px 0;
	font-size: 96px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	text-align: center;
	vertical-align: middle;
}


div.connect_line {
    display: block;
    position: absolute;
    height: 10px;
    width: 75px;
    z-index: 1;
}
.connect_line.type_sheep {
    background: url(../img/rope-green.png) repeat;
    box-shadow: green 0px 0px 35px 7px;
    background-color: green;
}
.connect_line.type_wolf {
    background: url(../img/rope-red.png) repeat;
    box-shadow: red 0px 0px 35px 7px;
    background-color: red;
}

table span {
    position: relative;
	background: url('../img/cell-bg.png') no-repeat top left;
	cursor: pointer;
	display: block;
	height: 76px;
	width: 76px;
    z-index: 2;
}

table span.captured {
	opacity: 0.3;
}

table span:hover {
	background-position: -76px 0;
}

table span.sheep {
	background-position: -152px 0;
}

table span.sheep:hover, table span.sheep.hover {
	background-position: -228px 0;
}

table span.wolf {
	background-position: -304px 0;
}

table span.wolf:hover, table span.wolf.hover {
	background-position: -380px 0;
}

table span.sheep.filled {
	background-position: -456px 0;
}

table span.sheep.filled:hover {
	background-position: -532px 0;
}

table span.wolf.filled {
	background-position: -608px 0;
}

table span.wolf.filled:hover {
	background-position: -684px 0;
}

.loader {
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

/* sound icon */
.sound {
	bottom: 20px;
	display: block;
  background: url('../img/sound.png') no-repeat top left;
	height: 43px;
	width: 35px;
	opacity: .8;
	position: absolute;
	right: 20px;
}

.sound:hover {
	opacity: 1;
}

.sound.disabled {
	background-position: -35px 0;
}

/* responsive styles */
@media all and (max-width: 1200px) {
  .player {
    width: 75px;
  }	
	.player .avatar {
		height: 75px;
		width: 75px;
		background-size: 150px 75px;
	}
	.player.wolf .avatar {
		background-position: -75px 0;
	}
	.player h5 {
		font-size: 22px;
	}	
	.player p {
		font-size: 60px;
		margin: 0;
	}
	#container {
		width: 330px;
	}
	table span {
		background-size: 320px 32px;
		height: 32px;
		width: 32px;	
	}
	table span:hover {
		background-position: -32px 0;
	}
	table span.sheep {
		background-position: -64px -3px;
	}
	table span.sheep:hover {
		background-position: -96px -3px;
	}
	table span.wolf {
		background-position: -128px -3px;
	}
	table span.wolf:hover {
		background-position: -160px -3px;
	}
	table span.sheep.filled {
		background-position: -192px -3px;
	}
	table span.sheep.filled:hover {
		background-position: -224px -3px;
	}
	table span.wolf.filled {
		background-position: -256px -3px;
	}
	table span.wolf.filled:hover {
		background-position: -288px -3px;
	}
}