/* Feel free to use @import. r.js will merge them, when building */
@font-face
{
	font-family: callMe;
	src: url('../fonts/call_me.ttf');
}

html {
	background: url('../img/background.png') no-repeat top left;
	color: #333;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body { overflow: hidden; }

.wrapper {
	text-align: center;
}

#container {
	background: url('../img/dot.png') repeat top left;
	height: 545px;
	padding: 20px;
	width: 790px;
}

#container,
.player {
	display: inline-block;
	vertical-align: top;
}

.player {
	font-family: 'callMe';
	text-align: center;
	text-shadow: -4px -4px #fff, 4px 4px #fff;
	width: 200px;
}

.player .avatar {
	background: url('../img/players.png') no-repeat top left;	
	height: 150px;
	margin: 0 auto;
	width: 150px;
}

.player.sheep .avatar {
	background-position: 0 0;
}

.player.wolf .avatar {
	background-position: -150px 0;
}

.player h5 {
	margin: 0px;
	font-size: 36px;
	font-weight: normal;
}

.player p {
	margin: 20px 0;
	font-size: 96px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table span {
	background: url('../img/cell-bg.png') no-repeat top left;
	cursor: pointer;
	display: block;
	height: 76px;
	width: 76px;
}

table span:hover {
	background-position: -76px 0;	
}

table span.sheep {
	background-position: -152px 0;
}

table span.sheep:hover {
	background-position: -228px 0;
}

table span.wolf {
	background-position: -304px 0;
}

table span.wolf:hover {
	background-position: -380px 0;
}

table span.sheep.filled {
	background-position: -456px 0;
}

table span.sheep.filled:hover {
	background-position: -532px 0;
}

table span.wolf.filled {
	background-position: -608px 0;
}

table span.wolf.filled:hover {
	background-position: -684px 0;
}

.loader {
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}