/* Feel free to use @import. r.js will merge them, when building */
@font-face
{
	font-family: callMe;
	src: url('../fonts/call_me.ttf');
}

html {
	background: url('../img/background.png') no-repeat top left;
	color: #333;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body { 
  margin: 0px;
	overflow: hidden;
	padding: 20px 0;	
}

.wrapper {
	text-align: center;
}

#container {
	background: url('../img/dot.png') repeat top left;
	padding: 20px;
	width: 790px;
}

#container,
.player {
	display: inline-block;
	vertical-align: top;
}

.player {
	font-family: 'callMe';
	text-align: center;
	text-shadow: -4px -4px #fff, 4px 4px #fff;
	width: 200px;
}

.player .avatar {
	background: url('../img/players.png') no-repeat top left;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}

.player.sheep .avatar {
	background-position: 0 0;
}

.player.wolf .avatar {
	background-position: -150px 0;
}

.player h5 {
	margin: 0px;
	font-size: 36px;
	font-weight: normal;
}

.player p {
	margin: 20px 0;
	font-size: 96px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	text-align: center;
	vertical-align: middle;
}


table td i.connected {
    display: block;
    position: absolute;
    background: url(https://github.com/itspoma/epam_thegame_hackathon/diff_blob/26d28144bbc327ff955b86208a430c66a5512af4/app/img/rope-red.png?raw=true) repeat;
    height: 10px;
    width: 75px;
    z-index: 1;
    margin-top: 35px;
}
table td i.connected.connect_temp {
    background-color: blue;
}
table td i.connected.connect_left {
    margin-left: -45px;
}
table td i.connected.connect_right {
    margin-left: 45px;
}
table td i.connected.connect_bottom {
    -webkit-transform: rotate(90deg);
    margin-top: 75px;
}
table td i.connected.connect_bottomleft {
    -webkit-transform: rotate(-45deg);
    margin-left: -45px;
    margin-top: 80px;
}
table td i.connected.connect_bottomright {
    -webkit-transform: rotate(45deg);
    margin-top: 80px;
    margin-left: 45px;
}
table td i.connected.connect_topleft {
    -webkit-transform: rotate(45deg);
/*  margin-left: -25px;
    margin-top: -10px;*/
    margin-left: -35px;
    margin-top: 0px;
}
table td i.connected.connect_topright {
    -webkit-transform: rotate(135deg);
    margin-left: 45px;
    margin-top: 5px;
}

table span {
    position: relative;
	background: url('../img/cell-bg.png') no-repeat top left;
	cursor: pointer;
	display: block;
	height: 76px;
	width: 76px;
    z-index: 2;
}

table span.captured {
	opacity: 0.3;
}

table span:hover {
	background-position: -76px 0;
}

table span.sheep {
	background-position: -152px 0;
}

table span.sheep:hover {
	background-position: -228px 0;
}

table span.wolf {
	background-position: -304px 0;
}

table span.wolf:hover {
	background-position: -380px 0;
}

table span.sheep.filled {
	background-position: -456px 0;
}

table span.sheep.filled:hover {
	background-position: -532px 0;
}

table span.wolf.filled {
	background-position: -608px 0;
}

table span.wolf.filled:hover {
	background-position: -684px 0;
}

.loader {
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

/* responsive styles */
@media all and (max-width: 1200px) {
  .player {
    width: 150px;
  }
	#container {
		width: 660px;
	}
	table span {
		background-size: 640px 64px;
		height: 64px;
		width: 64px;	
	}
	table span:hover {
		background-position: -64px 0;
	}
	table span.sheep {
		background-position: -128px -3px;
	}
	table span.sheep:hover {
		background-position: -192px -3px;
	}
	table span.wolf {
		background-position: -256px -3px;
	}
	table span.wolf:hover {
		background-position: -320px -3px;
	}
	table span.sheep.filled {
		background-position: -384px -3px;
	}
	table span.sheep.filled:hover {
		background-position: -448px -3px;
	}
	table span.wolf.filled {
		background-position: -512px -3px;
	}
	table span.wolf.filled:hover {
		background-position: -576px -3px;
	}
}